[submodule "Libraries/IBF_Utilities"]
	path = Libraries/IBF_Utilities
	url = https://github.com/IndustrialBrains/IBF_Utilities.git
[submodule "Libraries/IBF_Devices"]
	path = Libraries/IBF_Devices
	url = https://github.com/IndustrialBrains/IBF_Devices.git
